.sidebar {
  color: #052C65;
  max-width: 400px;
  @media (min-width: 768px) {
    max-width: 220px;
  }
  a, button {
    color: #052C65;
    fill: #052C65;
    &:hover {
      color: #052C65;
    }
  }
  .btn-close {
    --bs-btn-close-bg: none;
    opacity: 1;
  }

  .logo {
    img {
      width: 98px;
      height: 40px;
    }
  }

  .nav {
    .nav-link, .accordion-button {
      display: flex;
      align-items: center;
      gap: 12px;
      line-height: normal;
      font-size: 14px;
      box-shadow: none;

      &.active {
        color: white;
        background-color: #0d6efd;

        svg {
          path {
            fill: white;
          }
        }

      }
    }

    .accordion-button {
      justify-content: space-between;
      svg {
        transition: var(--bs-accordion-btn-icon-transition);
        fill: #052C65;
      }

      &:after {
        content: none;
      }

      &:not(.collapsed) {
        background-color: #0d6efd;
        color: white;
        svg {
          transform: rotate(90deg);
          fill: white;
        }
      }
    }

    .accordion-collapse {
      &.show {
        .accordion-body {
          border: 1px solid #0d6efd;
        }
      }
    }

    .btn-toggle {
      padding: 8px 16px;
      &:after {
        margin-left: 75%;
      }
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
}
