@import "login";
@import "layout";
@import "404";

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;

  .main-content {
    height: 100%;
    color: #052C65;
  }

  a {
    text-decoration: none;
  }
}

.operations {
  .filter {
    .btn {
      width: 100px;
    }
  }

  .table-content {
    .table {
      text-align: center;

    }
  }
}

.income, .expense {
  .page-content {
    .card {
      height: 121px;

      .card-title {
        color: #052C65;
      }
    }
  }
}


