@import "auth"; ;
@import "layout";
@import "404";


body {
  font-family: "Roboto", sans-serif;

  .main-content {
    height: 100vh;
    color: #052C65;

    .inner-content {
      margin-left: 0;
      @media (min-width: 768px) {
        margin-left: 220px;
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.filter {
  .interval {
    button {
      color: #6C757D;
    }
  }
}

.sidebar {
  position: fixed;
  height: 100vh;
}

.dashboard {
  .charts {
    .chart {
      width: 440px;
      height: 440px;
      @media screen and (max-width: 1230px) {
        width: 400px;
        height: 400px;
      }
      @media screen and (max-width: 1040px) {
        width: 340px;
        height: 340px;
      }
      @media screen and (max-width: 768px) {
        width: 300px;
        height: 300px;
      }
    }
  }
}

.operations {
  .filter {
    .btn {
      width: 100px;
    }
  }

  .table-content {
    .table {
      text-align: center;
      th {
        color: #052C65;
      }
    }
  }
}

.operations-create {
  .form-control {
  }
}

.income, .expense {
  .page-content {
    .cards {
      .card-wrapper {
        min-height: 137px;
        .card {
          .card-title {
            color: #052C65;
          }
        }
      }

    }
  }
}


