@import "auth";
@import "layout";
@import "404";


body {
  height: 100%;
  font-family: "Roboto", sans-serif;

  .main-content {
    height: 100%;
    color: #052C65;

    .inner-content {
      margin-left: 0;
      @media (min-width: 768px) {
        margin-left: 220px;
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.filter {
  .interval {
    button {
      color: #6C757D;
    }
  }
}

.dashboard {
  .charts {
    .chart {
      width: 300px;
      @media (min-width: 768px) {
        width: 340px;
      }
      @media (min-width: 1040px) {
        width: 370px;
      }
      @media (min-width: 1140px) {
        width: 400px;
      }
      @media (min-width: 1230px) {
        width: 440px;
      }
    }
  }
}

.operations {
  .filter {
    .btn {
      width: 100px;
    }
  }

  .table-content {
    .table {
      text-align: center;
      th {
        color: #052C65;
      }
    }
  }
}

.operations-create {
  .form-control {
  }
}

.income, .expense {
  .page-content {
    .card {
      height: 121px;

      .card-title {
        color: #052C65;
      }
    }
  }
}


