<div class="dashboard">
    <section class="page-header pt-5 ms-2 ms-md-5 mb-3 mb-md-5">
        <div class="container-fluid">
            <h1>Главная</h1>
        </div>
    </section>
    <section class="page-content ms-2 ms-md-5 mt-3 mt-md-5">
        <div class="container-fluid">
            <div class="filter d-flex flex-wrap gap-2 gap-md-3 mt-3 mt-md-5">
                <button type="button" class="btn btn-outline-secondary filter-btn">Сегодня</button>
                <button type="button" class="btn btn-outline-secondary filter-btn">Неделя</button>
                <button type="button" class="btn btn-outline-secondary filter-btn">Месяц</button>
                <button type="button" class="btn btn-outline-secondary filter-btn">Год</button>
                <button type="button" class="btn btn-outline-secondary filter-btn">Все</button>
                <button type="button" id="interval-filter" class="btn btn-outline-secondary">Интервал</button>
                <div class="interval d-flex align-items-center">
                    <span>с </span>
                    <button type="button" class="btn btn-link" id="interval-from">Дата</button>
                    <span>по </span>
                    <button type="button" class="btn btn-link" id="interval-to">Дата</button>
                </div>
            </div>
            <div class="charts d-flex flex-column flex-lg-row mt-3 mt-md-5 pe-0 pe-md-5">
                <div class="chart position-relative m-auto col-6">
                    <canvas id="income-pie-chart"></canvas>
                </div>
                <div class="d-none d-lg-block border border-light-subtle"></div>
                <div class="chart position-relative m-auto col-6 mt-4 mt-lg-0">
                    <canvas id="expense-pie-chart"></canvas>
                </div>
            </div>
        </div>
    </section>
</div>