<div class="outer d-flex align-items-center py-4">
    <div class="container-fluid form-signin w-100 m-auto">
        <form>
            <div class="form-header text-center">
                <img class="mb-5" src="/images/logo.svg" alt="" width="171" height="70">
                <h1 class="page-heading mb-3 fw-medium">Создайте аккаунт</h1>
                <div id = "common-error" class="error invalid-feedback text-center mb-3">Неправильный email или пароль</div>
            </div>

            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="floatingName" placeholder="Alexandra">
                <div class="placeholder-image">
                    <img src="/images/person.svg" alt="">
                </div>
                <label for="floatingName">ФИО</label>
                <div id="name-error" class="error invalid-feedback">Введите ваше ФИО с заглавной буквы, через пробел</div>
            </div>
            <div class="form-floating mb-2">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <div class="placeholder-image">
                    <img src="/images/mail.svg" alt="">
                </div>
                <label for="floatingInput">Электронная почта</label>
                <span id="email-error" class="error invalid-feedback">Введите корректный E-mail</span>
            </div>
            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Пароль">
                <div class="placeholder-image">
                    <img src="/images/lock.svg" alt="">
                </div>
                <label for="floatingPassword">Пароль</label>
                <span id="password-error" class="error invalid-feedback">Пароль должен содержать от 6 символов, хотя бы одну цифру, одну строчную и одну прописную букву</span>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingRepeatPassword" placeholder="Пароль">
                <div class="placeholder-image">
                    <img src="/images/lock.svg" alt="">
                </div>
                <label for="floatingRepeatPassword">Подтверждение пароля</label>
                <span id="password-repeat-error" class="error invalid-feedback">Пароль и повторение пароля должны совпадать</span>
            </div>
            <button class="btn btn-primary w-100 py-2 mb-2" type="button" id="process-button">Зарегистрироваться</button>
            <div class="text-start">
                <p>Уже есть аккаунт? <a class="ms-2" href="/login">Войдите в систему</a></p>
            </div>
        </form>
    </div>
</div>