<div class="operations">
    <section class="page-header pt-5 ms-2 mx-md-3 mx-lg-5 mb-3 mb-md-5">
        <div class="container-fluid">
            <h1>Доходы и расходы</h1>
        </div>
    </section>
    <section class="page-content ms-2 mx-md-3 mx-lg-5 mt-3 mt-md-5">
        <div class="container-fluid">
            <div class="d-flex gap-2 mt-3 mt-md-5">
                <a href="/operations/create" class="btn btn-success px-3" type="button">Создать доход</a>
                <a href="/operations/create" class="btn btn-danger px-3" type="button">Создать расход</a>
            </div>
            <div class="filter d-flex flex-wrap gap-2 gap-md-3 mt-4 mt-md-5">
                <button type="button" class="filter-btn btn btn-outline-secondary">Сегодня</button>
                <button type="button" class="filter-btn btn btn-outline-secondary">Неделя</button>
                <button type="button" class="filter-btn btn btn-outline-secondary">Месяц</button>
                <button type="button" class="filter-btn btn btn-outline-secondary">Год</button>
                <button type="button" class="filter-btn btn btn-outline-secondary">Все</button>
                <button type="button" class="filter-btn btn btn-outline-secondary">Интервал</button>
                <div class="interval d-flex align-items-center" id="interval">
                    <span>с </span>
                    <button class="btn btn-link" id="interval-from">Дата</button>
                    <span>по </span>
                    <button class="btn btn-link" id="interval-to">Дата</button>
                </div>
            </div>
            <div class="table-content table-responsive mt-3 mt-md-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th>№ операции</th>
                        <th>Тип</th>
                        <th>Категория</th>
                        <th>Сумма</th>
                        <th>Дата</th>
                        <th>Комментарий</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="records">
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <div class="modal fade" id="delete-btn">
        <div class="modal-dialog h-100 d-flex align-items-center">
            <div class="modal-content">
                <h5 class="modal-title text-center pt-5">Вы действительно хотите удалить операцию?</h5>
                <div class="modal-footer border-0 d-flex justify-content-center pt-3 pb-5">
                    <button type="button" class="btn btn-success" id="delete-operation-btn" data-bs-dismiss="modal">Да, удалить</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
                </div>
            </div>
        </div>
    </div>
</div>