<div class="operations-create">
    <section class="page-header m-5">
        <div class="container-fluid">
            <h1>Редактирование дохода/расхода</h1>
        </div>
    </section>
    <section class="page-content">
        <form class="mt-5 ms-5 d-flex flex-column w-25">
            <input id="operation-type" type="text" class="form-control mb-3" placeholder="Тип...">
            <input id="operation-category" type="text" class="form-control mb-3" placeholder="Категория...">
            <input id="operation-amount" type="text" class="form-control mb-3" placeholder="Сумма в $...">
            <input id="operation-date" type="text" class="form-control mb-3" placeholder="Дата...">
            <input id="operation-comment" type="text" class="form-control mb-3" placeholder="Комментарий...">
            <div class="controls">
                <a href="/operations" id="create-operation" class="btn btn-success">Создать</a>
                <a href="/operations" class="btn btn-danger">Отмена</a>
            </div>
        </form>
    </section>
</div>