<div class="income p-5">
    <section class="page-header mt-3">
        <div class="container-fluid">
            <h1>Доходы</h1>
        </div>
    </section>
    <section class="page-content mt-5">
        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-sm-4 px-2">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Депозиты</h3>
                            <a href="/income/edit" class="btn btn-primary">Редактировать</a>
                            <a href="javascript:void(0)"  data-bs-toggle="modal" data-bs-target="#income-delete-btn" class="btn btn-danger">Удалить</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 px-2">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Зарплата</h3>
                            <a href="/income/edit" class="btn btn-primary">Редактировать</a>
                            <a href="javascript:void(0)"  data-bs-toggle="modal" data-bs-target="#income-delete-btn" class="btn btn-danger">Удалить</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 px-2">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Сбережения</h3>
                            <a href="/income/edit" class="btn btn-primary">Редактировать</a>
                            <a href="javascript:void(0)"  data-bs-toggle="modal" data-bs-target="#income-delete-btn" class="btn btn-danger">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-4 px-2">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Инвестиции</h3>
                            <a href="/income/edit" class="btn btn-primary">Редактировать</a>
                            <a href="javascript:void(0)"  data-bs-toggle="modal" data-bs-target="#income-delete-btn" class="btn btn-danger">Удалить</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 px-2">
                    <a href="/income/create" class="card align-items-center h-100">
                        <div class="card-body w-100 d-flex align-items-center justify-content-center">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.5469 6.08984V9.05664H0.902344V6.08984H14.5469ZM9.32422 0.511719V15.0039H6.13867V0.511719H9.32422Z" fill="#CED4DA"/>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="income-delete-btn">
        <div class="modal-dialog h-100 d-flex align-items-center">
            <div class="modal-content">
                <h5 class="modal-title text-center pt-4 lh-1">Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.</h5>
                <div class="modal-footer border-0 d-flex justify-content-center pt-3 pb-4">
                    <button type="button" class="btn btn-success">Да, удалить</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
                </div>
            </div>
        </div>
    </div>
</div>